* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 70px;
    background-color: #ff6900;
    color: white;
}

body {
    background-image: url('http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQ-2kU5V7pQtbUzZRjQQ2nFXWSN7Cr-3IDBMXEgOXE3BP05Cl5DfhYmAhGCWGFmh9Ri');
}
.container {
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

nav {
    height: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.container.cards {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: calc(100% / 2);
    padding: 2rem;
}

.card img {
    width: 100%;
}
